# dependencies
node_modules

# next.js
.next
out

# production
build

# local env files
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os metadata
.DS_Store
._*
**/._*
.vercel
